* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: auto;
    text-align: center;
}

h3 {
    margin: 35px;
}

h1 {
    padding: 25px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}

input {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: white;
    box-shadow: 2px 2px;
}